/* a { */
	/* text-decoration:none;  	 */
/* }  */

/* a:link { */
	/* text-decoration:none; */
	/* color: rgb(100, 100, 100); */
/* } */

/* a:hover { */
	/* text-decoration:none; */
	/* color: var(--link_hover); */
/* } */

@font-face {
  font-family: "atlandsketchesbb_ital";
  src: 	url('/fonts/atlandsketchesbb_ital.ttf') format('truetype');
		/* url('_includes/fonts/atlandsketchesbb_reg.ttf') format('truetype');  */
}

@font-face {
  font-family: "atlandsketchesbb_reg";
  src: 	url('/fonts/atlandsketchesbb_reg.ttf') format('truetype');
		/* url('_includes/fonts/atlandsketchesbb_reg.ttf') format('truetype');  */
}

/* @media { */
  /* body { */
    /* padding-top: 60px; */
  /* } */
/* } */

/* body { */
	/* padding-top:60px; */
/* } */



.navbar-brand
{
  font-family: 'atlandsketchesbb_reg';
  font-size: 200%;
}

section {
    padding-top: 56px;
    margin-top: -56px;
}

h3
{
  font-family: 'atlandsketchesbb_reg';
  font-size: 300%;
}

html {
  font-size: 14px;
}

#photo{	
	max-width: 320px;
	width:100%;
}

/* Authors */

#publications .authors a{
	text-decoration: none;
	color: var(--link_authors);
}


#publications .authors a:link{
	text-decoration: none;
	color: var(--link_authors);
}

#publications .authors a:visited {
	text-decoration: none;
	color: var(--link_authors);
}

#publications .authors a:hover {
	text-decoration: none;
	color: var(--link_hover);
}


#affiliations a:link{
	text-decoration: none;
	color: #8fb814;
}

#affiliations a:visited{
	text-decoration: none;
	color: #8fb814;
}


#affiliations a:active{
	text-decoration: unederline;
	color: #758547;
}



#affiliations a:hover{
	text-decoration: unederline;
	color: #758547;
}






#students  a{
	text-decoration: none;
	color: #758ca3;
}

#students  a:link{
	text-decoration: none;
	color: #758ca3;
}

#students  a:visited {
	text-decoration: none;
	color: #758ca3;
}

#students  a:hover {
	text-decoration: none;
	color: #758ca3;
}

button[name="abstract_btn"]
{
	background: none;
	border: none;
	padding: 0;			
	text-decoration: none;
	cursor: pointer;
	color: #758ca3;
}

button[name="abstract_btn"]:hover{
	text-decoration: underline;
	color: #758ca3;
}