
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
    <title>{{ site.title }} – {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author"     content="{{ site.author }}">
	
    <link rel="stylesheet" type="text/css" media="screen" href="style_new.css" />
	<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="menu.css" />


	<meta name="keywords" content="Max-Planck-Institut,
		Max Planck Institute,
		MPII,
		MPI,
		Yulia Gryaditskaya,
		Yulia Gryaditskya,
		Inria,
		Computer Graphics,
		HDR Video,
		High Dynamic Range,
		HDR dataset,
		calibrated HDR,
		sketch-based modelling,
		sketch-based modeling,
		concept sketch,
		OpenSketch,
		CVSSP,
		Sketch-X
	">
</head>