
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author"     content="{{ site.author }}">
	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />	
	<link rel="stylesheet" type="text/css" media="screen" href="menu.css" />
	<script src="myscripts.js"></script>
    <!-- <link rel="shortcut icon" href="_includes/favicon.ico"> -->
	
	<meta name="keywords" content="Max-Planck-Institut,
		Max Planck Institute,
		MPII,
		MPI,
		Yulia Gryaditskaya,
		Yulia Gryaditskya,
		Inria,
		Computer Graphics,
		HDR Video,
		High Dynamic Range,
		HDR dataset,
		calibrated HDR,
		sketch-based modelling,
		sketch-based modeling,
		concept sketch,
		OpenSketch,
		CVSSP,
		Sketch-X
	">
	
	
</head>