<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">DR. YULIA GRYADITSKAYA</a>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Content -->
    <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Yulia Gryaditskaya' %}active{% endif %}" href="{{ site.baseurl }}/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Publications' %}active{% endif %}" href="{{ site.baseurl }}/publications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Datasets' %}active{% endif %}" href="{{ site.baseurl }}/datasets">Datasets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Students' %}active{% endif %}" href="{{ site.baseurl }}/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Activities_Prof' %}active{% endif %}" href="{{ site.baseurl }}/activities_prof">Professional activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.title == 'Activities_Ac' %}active{% endif %}" href="{{ site.baseurl }}/activities_academic">Academic activities</a>
            </li>
			<li class="nav-item">
                <a class="nav-link {% if page.title == 'Useful links' %}active{% endif %}" href="{{ site.baseurl }}/useful_links">Useful links</a>
            </li>
        </ul>
    </div>
</nav>

